{% extends "appcoder/base.html" %} {% load static%} {%block titulo%}About
{%endblock titulo %} {%block contenidoCambiante%}
<h1>About</h1>
<p>
  Mi nombre es Gonzalo Wiñazki, soy estudiante de la carrera de analista de
  sistema en el instituto ort. <br />
  Tambien me desempeño laboralmente en el area de sistema como primeramente
  analista funcional, ademas de otras tareas como soporte, desarrollo, redes,
  camaras y servidores. <br />
  En esta aplicacion web se desarrollo un aula virtual en la cual se puede
  gestionar sus recursos.
</p>

{%endblock contenidoCambiante%}
